<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Item</title>
  </head>
  <body>
    <h1>Add a New Item Here</h1>

    <form action="/favorites" method="POST">
      <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="favorite[name]" placeholder="Name" />
      </div>
      <div>
        <label for="rating">Rating</label>
        <input
          type="text"
          id="rating"
          name="favorite[rating]"
          placeholder="Rating 1-5"
        />
      </div>
      <div>
        <label for="price">Price</label>
        <input
          type="number"
          id="rating"
          name="favorite[price]"
          placeholder="Price"
        />
      </div>
      <div>
        <label for="description">Description</label>
        <textarea
          type="text"
          id="description"
          name="favorite[description]"
          placeholder="Description"
        ></textarea>
      </div>
      <button>Add New Item</button>
    </form>
    <a href="/favorites">Back to All Favorites</a>
  </body>
</html>
