<% layout('layouts/boilerplate')%>

<div class="row">
  <h1 class="text-center">Add a New Item Here</h1>
  <div class="col-6 offset-3">
    <form action="/favorites" method="POST">
      <div class="mb-3">
        <label class="form-label" for="name">Name: </label>
        <input
          class="form-control"
          type="text"
          id="name"
          name="favorite[name]"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="rating">Rating: </label>
        <input
          class="form-control"
          type="text"
          id="rating"
          name="favorite[rating]"
          placeholder="1-10"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Price: </label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            id="price"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            name="favorite[price]"
          />
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image: </label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="favorite[image]"
          placeholder="Add a URL"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description: </label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="favorite[description]"
        ></textarea>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add New Item</button>
      </div>
    </form>
    <form action="/favorites">
      <button class="btn btn-primary">Back to All</button>
      </form>
    <!-- <a href="/favorites">Back to All Favorites</a> -->
  </div>
</div>
